 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/f48680824b42d83b7587e0c2285247e9f3afdac88bda4084baddd1182d753f6ef098c2dce5ad56f59a0fce68112d44b25f6e5a3d13ec652286234d_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 693px;
}

.u-section-1 .u-text-1 {
  line-height: 1.2;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  font-size: 3.75rem;
  text-shadow: 0 0 8px rgba(128,128,128,1);
  margin: 102px 344px 0 14px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 524px;
  margin: 18px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  grid-gap: 30px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 14px 0;
}

.u-section-1 .u-group-1 {
  width: 80px;
  min-height: 80px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: -80px 30px 0 111px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 23px 0 0 111px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 14px 0;
}

.u-section-1 .u-group-2 {
  width: 80px;
  min-height: 80px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 3rem;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: -80px 30px 0 111px;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 23px 0 0 111px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 401px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 139px;
  }

  .u-section-1 .u-text-3 {
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 29.89% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 179px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 107px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 107px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 107px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 107px;
  }
} .u-section-2 {
  min-height: 528px;
}

.u-section-2 .u-image-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 369px;
  background-image: linear-gradient(0deg, rgba(71,138,201,0.3), rgba(71,138,201,0.3)), url("images/curry.jpg");
  background-size: 180%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-shape-1 {
  width: 30px;
  height: 368px;
  background-image: none;
  margin: 1px auto 0 0;
}

.u-section-2 .u-shape-2 {
  width: 30px;
  height: 368px;
  background-image: none;
  margin: -368px 0 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 0 0 8px rgba(128,128,128,1);
  margin: -334px 80px 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  width: 794px;
  margin: 68px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 577px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 85px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 625px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 61px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 827px;
}

.u-section-3 .u-image-1 {
  height: 394px;
  width: 354px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 13px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 45px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 275px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 26px 16px 0;
}

.u-section-3 .u-text-2 {
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.3;
  margin: 29px 30px 0;
}

.u-section-3 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 26px 16px 0;
}

.u-section-3 .u-text-4 {
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.3;
  margin: 29px 30px 0;
}

.u-section-3 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-4 {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 26px 16px 0;
}

.u-section-3 .u-text-6 {
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.3;
  margin: 29px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 20px));
    min-height: 356px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 646px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-3 .u-image-1 {
    height: 378px;
    width: 340px;
  }
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  border-radius: 10px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-color: #404040 !important;
}

.u-section-3 .u-image-1 {
  border-color: transparent !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  border-radius: 10px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-color: #404040 !important;
}

.u-section-3 .u-image-1 {
  border-color: transparent !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 519px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1120px;
  margin: 60px 10px 60px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 794px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  font-size: 3rem;
  font-weight: 700;
  margin: 33px 67px 0 0;
}

.u-section-4 .u-line-1 {
  height: 10px;
  transform-origin: left center 0px;
  margin: 35px 0 0;
}

.u-section-4 .u-image-1 {
  width: 353px;
  height: 364px;
  object-position: 50% 2.73%;
  filter: brightness(0.85);
  transition-duration: 0.5s;
  margin: 31px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 33px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 791px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-group-1 {
  min-height: 359px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 94px;
  width: 94px;
  margin: 56px 0 0 auto;
}

.u-section-4 .u-text-3 {
  line-height: 1.7;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  margin: -42px 32px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 666px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    margin-right: 43px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 664px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    width: 285px;
    height: 294px;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
  }
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-image-1.u-image-1.u-image-1:hover {
  border-radius: 10px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-4 .u-image-1.u-image-1.u-image-1.hover {
  border-radius: 10px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-5 .u-gallery-1 {
  height: 745px;
  margin-top: 77px;
  margin-bottom: 0;
  grid-gap: 17px 17px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-thumbnails-1 {
  padding-top: 40px;
}

.u-section-5 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 33px auto 60px;
  padding: 22px 76px 23px 74px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 870px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1314px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-btn-1 {
    margin-top: 60px;
    margin-bottom: -2487px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-5 .u-carousel-thumbnail-1 {
    width: 63px;
    height: 63px;
  }

  .u-section-5 .u-carousel-thumbnail-2 {
    width: 63px;
    height: 63px;
  }

  .u-section-5 .u-carousel-thumbnail-3 {
    width: 63px;
    height: 63px;
  }

  .u-section-5 .u-carousel-thumbnail-4 {
    width: 63px;
    height: 63px;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: -1352px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 754px;
}

.u-section-6 .u-text-1 {
  margin: 12px auto 0;
}

.u-section-6 .u-list-1 {
  margin-top: 67px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 553px;
  grid-gap: 10px 10px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 240px;
  height: 240px;
  transition-duration: 0.5s;
  filter: brightness(0.95);
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-6 .u-text-3 {
  font-size: 2.1875rem;
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-6 .u-text-4 {
  margin-top: 23px;
  margin-bottom: 0;
  font-style: normal;
  font-size: 1.875rem;
  font-weight: 700;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 240px;
  height: 240px;
  transition-duration: 0.5s;
  filter: brightness(0.95);
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-6 .u-text-6 {
  font-size: 2.1875rem;
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-6 .u-text-7 {
  margin-top: 23px;
  margin-bottom: 0;
  font-style: normal;
  font-size: 1.875rem;
  font-weight: 700;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  width: 240px;
  height: 240px;
  object-position: 50% 18.34%;
  transition-duration: 0.5s;
  filter: brightness(0.95);
  margin: 0 auto;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-6 .u-text-9 {
  font-size: 2.1875rem;
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-6 .u-text-10 {
  margin-top: 23px;
  margin-bottom: 0;
  font-style: normal;
  font-size: 1.875rem;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: -6px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 456px;
  }

  .u-section-6 .u-image-1 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-6 .u-image-2 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-6 .u-image-3 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1048px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-9 {
    font-size: 1.5rem;
  }
}

.u-section-6 .u-image-3,
.u-section-6 .u-image-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-image-3.u-image-3.u-image-3:hover {
  border-radius: 10px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-6 .u-image-3.u-image-3.u-image-3.hover {
  border-radius: 10px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-6 .u-image-1,
.u-section-6 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-image-1.u-image-1.u-image-1:hover {
  border-radius: 10px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-6 .u-image-1.u-image-1.u-image-1.hover {
  border-radius: 10px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-6 .u-image-2,
.u-section-6 .u-image-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-image-2.u-image-2.u-image-2:hover {
  border-radius: 10px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-6 .u-image-2.u-image-2.u-image-2.hover {
  border-radius: 10px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}.u-section-7 .u-sheet-1 {
  min-height: 675px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px 452px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 570px 0 0;
}

.u-section-7 .u-list-1 {
  margin: 61px auto 59px 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 24px));
  min-height: 299px;
  grid-gap: 32px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-7 .u-line-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 15px;
  transform-origin: left center;
}

.u-section-7 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 50px 11px 0;
}

.u-section-7 .u-text-4 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 10px 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-7 .u-line-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 15px;
}

.u-section-7 .u-text-5 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 50px 11px 0;
}

.u-section-7 .u-text-6 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 10px 0;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-7 .u-line-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 15px;
}

.u-section-7 .u-text-7 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 50px 11px 0;
}

.u-section-7 .u-text-8 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 10px 0;
}

.u-section-7 .u-list-item-4 {
  background-image: none;
}

.u-section-7 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-7 .u-line-4 {
  margin-top: 0;
  margin-bottom: 0;
  height: 15px;
}

.u-section-7 .u-text-9 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 50px 11px 0;
}

.u-section-7 .u-text-10 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 252px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-7 .u-list-1 {
    height: auto;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 32px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16px));
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1594px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-7 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-7 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-7 .u-text-7 {
    font-size: 3rem;
  }

  .u-section-7 .u-text-9 {
    font-size: 3rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 726px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 626px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-8 .u-form-1 {
  height: 544px;
  width: 625px;
  margin: 0;
}

.u-section-8 .u-form-group-1 {
  width: 100%;
}

.u-section-8 .u-label-1 {
  font-weight: 700;
}

.u-section-8 .u-form-group-2 {
  width: 100%;
}

.u-section-8 .u-label-2 {
  font-weight: 700;
}

.u-section-8 .u-form-group-3 {
  margin-left: 0;
}

.u-section-8 .u-label-3 {
  font-weight: 700;
}

.u-section-8 .u-form-group-4 {
  margin-left: 0;
}

.u-section-8 .u-label-4 {
  font-weight: 700;
}

.u-section-8 .u-form-group-5 {
  margin-left: 0;
}

.u-section-8 .u-label-5 {
  font-weight: 700;
}

.u-section-8 .u-form-group-6 {
  margin-top: 0;
  margin-bottom: 10px;
}

.u-section-8 .u-label-6 {
  font-weight: 700;
}

.u-section-8 .u-form-group-7 {
  width: 100%;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 626px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  line-height: 1.8;
  font-weight: 700;
  margin: 49px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 623px;
  }

  .u-section-8 .u-form-1 {
    width: 499px;
  }

  .u-section-8 .u-form-group-4 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .u-section-8 .u-form-group-5 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 623px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 79px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 864px;
  }

  .u-section-8 .u-form-1 {
    width: 389px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 623px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-form-1 {
    width: 520px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-form-1 {
    width: 320px;
  }

  .u-section-8 .u-form-group-3 {
    width: 100%;
  }

  .u-section-8 .u-form-group-4 {
    width: 100%;
  }

  .u-section-8 .u-form-group-5 {
    width: 100%;
  }

  .u-section-8 .u-form-group-6 {
    width: 100%;
  }
}